@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.post-content p {
  width: 95%;
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.2rem;
}

.post-content code{
  font-size: 0.8rem;
  color: #475569;
}

.post-view img {
  object-fit: cover;
  max-height: 100vh;
  margin-inline: auto;
  display: inline;
  height: 100%;
  width: 100%;
}


swiper-container .swiper-pagination-bullets {
  bottom: -15px !important;
}

@media (max-width: 768px) {
  .post-content p{
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .post-content p{
    font-size: 0.9rem;
  }
}

@layer base {
  h1 {
    @apply text-4xl lg:text-3xl md:text-2xl sm:text-xl font-[600] font-playfair w-11/12 max-w-[500px] mx-auto tracking-[3px] leading-[60px] my-8;
  }
  h2 {
    @apply w-11/12 max-w-[400px] text-3xl font-[600] mx-auto my-6 text-center leading-10;
  }
  h3 {
    @apply text-xl lg:text-[18px] sm:text-[14px] font-[600] sm:leading-5;
  }
  h4 {
    @apply text-lg font-[600];
  }
  .active-link {
    @apply text-white bg-blue-800 w-[30px] h-[30px] border inline-flex justify-center items-center rounded-full;
  }
  .logo {
    @apply text-[50px] md:text-[35px] font-[600] text-center tracking-[3px] font-playfair text-red-600;
  }
  .badge-review {
    @apply bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400;
  }

  .badge-thoughts {
    @apply bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400;
  }

  .badge-critique {
    @apply bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400;
  }
  .nav-btn{
    @apply md:shadow-md md:rounded-md md:border-2 md:border-black;
  }
}
