{% extends "base.html" %} {% load static %}{%block title %} Về bản thân tôi
{%endblock%} {% block content %}
<div class="w-11/12 max-w-[800px] mx-auto">
  <h1 class="text-center font-lato mx-auto mb-20">Về bản thân tôi</h1>
  <div class="flex gap-x-4 gap-y-4 mb-5 sm:flex-col">
    <div class="w-[300px] h-[300px] sm:w-full sm:h-[200px]">
      <img
        class="block h-full w-full object-cover"
        src="{% static 'images/my-portrait.jpg' %}"
      />
    </div>
    <div>
      <h5 class="text-[24px] font-[500] mb-5 text-blue-700 font-playfair">
        Nguyễn Gia Khánh Tùng
      </h5>
      <p>Tên khác: Nguyễn Minh Anh</p>
      <p>Chuyên ngành: Thiết kế và lập trình websites</p>
      <p>Vai trò: Lập trình viên Front-end, Viết tự do</p>
      <p>Ngày sinh: 30/01/2002</p>
      <p>Hiện đang sống và làm việc tại Hà Nội.</p>
      <p>Chiều cao: 1m75 (không cao hơn được nữa &#128557;)</p>
      <p>
        Sở thích: xem phim, nghe nhạc, vẽ vời, viết lách, ăn uống và lập trình
      </p>
      <p>Ghét: Mỡ béo và những ai cao hơn mình :)))</p>
      <p>
        <img
          src="{% static 'images/bugcat.gif' %}"
          alt="bugcat.gif"
          class="w-[100px] h-[100px]"
        />
      </p>
    </div>
  </div>
  <div class="mb-5">
    <h4 class="text-[24px] mb-4">Đôi nét về tôi:</h4>
    <p class="font-playfair text-[16px] italic mb-2">
      " Tôi là một sinh viên IT đang theo học và làm việc tại Hà Nội với chuyên
      ngành là thiết kế và lập trình website. Tôi theo học ngành này vì đơn giản
      là tôi khá giỏi về nó :) và cũng rất dễ để tạo cho bản thân một trang web.
      Nhưng đam mê chính của tôi chính là nghệ thuật:
      <span class="font-bold">điện ảnh</span>,
      <span class="font-bold">nhiếp ảnh</span>,
      <span class="font-bold">âm nhạc</span> và
      <span class="font-bold">hội họa</span>
      - Đó đều là những thứ mà tôi không hề có chút tài năng nào :)
    </p>
    <p class="font-playfair italic mb-2">
      Tôi khá hướng nội nên thời gian thay vì đi ra ngoài mà giao tiếp xã hội,
      tôi lại dành nó hầu hết là ở nhà chơi game, xem phim, nghe nhạc, hoặc mày
      mò học tập về ngành học tôi theo.
    </p>
    <p class="font-playfair italic mb-2">
      Tôi tự nhận bản thân là một con người khá vui tính, dễ nói chuyện, và có
      thể thích nghi với từng loại người và từng môi trường sống.
    </p>
    <p class="font-playfair italic mb-2">
      Tôi cũng khá là weeaboo :) như bạn thấy hình đại diện của tôi đó. Cũng vì
      vậy chúng ta lại có thêm một mục về Anime/Manga - thứ mà tôi rất thích nói
      về nó."
    </p>
  </div>

  <div class="mb-5">
    <h4 class="text-[24px] mb-4">
      Tại sao tôi lại tạo ra Blog
      <span class="text-red-700 font-playfair">Amigos</span>?:
    </h4>
    <p class="text-[16px] mb-2">
      Mỗi khi chơi một tựa game, xem một bộ phim hay nghe một bản nhạc, tôi luôn
      có những ý kiến, với bất đồng và những điều khen ngợi cho nó. Nhưng tôi
      lại không viết ra những bài viết nói về để đăng lên các trang diễn đàn xã
      hội khác vì bản thân khả năng viết lách của tôi không được chau chuốt nên
      tôi sợ bị đánh giá về nó (khá là nhạy cảm nhỉ? &#128517; ).
    </p>
    <p class="text-[16px] mb-2">
      Đó là lí do tại sao tôi tạo ra
      <span class="font-bold"
        >Blog <span class="font-playfair text-red-600">Amigos</span></span
      >
      - nơi mà tôi có thể thoải mái viết những suy nghĩ, những đánh giá và góc
      nhìn của mình. Bạn có ý kiến với bài viết của tôi ư? Tiếc quá :) ở đây tôi
      không có mục bình luận nào cho bạn nói ra điều đó cả &#128527;.
    </p>
    <p class="text-[16px] mb-2">
      Ngoài ra,
      <span class="font-bold"
        >Blog <span class="font-playfair text-red-600">Amigos</span></span
      >
      cũng là kết quả cho hơn 2 năm học về thiết kế website của tôi. Bản thân
      tôi đã tạo ra nhiều sản phẩm web, nhưng chưa có cái nào là đủ lớn và ấn
      tượng cả. Tôi nuôi dự định tạo ra cho mình một trang web riêng của bản
      thân và
      <span class="font-bold"
        >Blog <span class="font-playfair text-red-600">Amigos</span></span
      >
      đã được trải qua rất nhiều phiên bản thử nghiệm nhưng đều thất bại
      &#128534;. Đã có những lúc tôi bỏ dở đó vài tháng để học tập trau dồi kiến
      thức. Tôi đã có cơ hội đọc được một trang blog của
      <a
        class="underline font-semibold text-blue-700"
        href="https://sonphuoc.com/"
        >Sơn Phước</a
      >, đã truyền cảm hứng cho tôi tiếp tục phát triển trang blog của bản thân.
      Có thể nói
      <span class="font-bold"
        >Blog <span class="font-playfair text-red-600">Amigos</span></span
      >
      được xây dựng dựa trên trang blog gốc của
      <a
        class="underline font-semibold text-blue-700"
        href="https://sonphuoc.com/"
        >Sơn Phước</a
      >.
    </p>
  </div>
  <div class="mb-5">
    <h4 class="text-[24px] mb-4">
      Cái tên Blog
      <span class="text-red-700 font-playfair">Amigos</span> có ý nghĩa gì?:
    </h4>
    <p class="text-[16px] mb-2">
      <span class="text-red-600 font-bold font-playfair">Amigos</span> là một từ
      trong tiếng Tây Ban Nha có nghĩa là "bạn bè", hoặc có thể là "đồng chí".
    </p>
    <p class="text-[16px] mb-2">
      Ban đầu dự định của tôi là tạo ra một trang web diễn đàn lớn hơn nơi mà có
      những người cũng đam mê về điện ảnh, video games, âm nhạc (và wibu stuff
      nữa &#128515;) để cùng nhau viết bài nêu ý kiến, đánh giá và cảm nhận của
      bản thân. Mọi người có thể cùng nhau đọc và cùng nhau đưa ra bình luận.
    </p>
  </div>
  <div class="mb-5">
    <h4 class="text-[24px] mb-4">
      Tại sao Blog
      <span class="text-red-700 font-playfair">Amigos</span> không phải là một
      trang web diễn đàn cộng đồng?:
    </h4>
    <p class="text-[16px] mb-2">
      Có khá nhiều lí do: kĩ năng về lập trình của bản thân chưa được tốt, kinh
      phí không có để duy trì và thiếu nhân lực. Để phát triển một trang web
      diễn đàn cộng đồng cần có hơn một nhân lực với trình độ kĩ năng tốt để
      phát triển và bảo mật thông tin, chống đánh sập. Cũng cần tiền mua các
      dịch vụ web để duy trì hoạt động. Vân vân và mây mây &#9729;...
    </p>
    <p class="text-[16px] mb-2"></p>
  </div>
  <div class="mb-5">
    <h4 class="text-[24px] mb-4">
      Tương lai của Blog
      <span class="text-red-700 font-playfair">Amigos</span> sẽ ra sao?:
    </h4>
    <p class="text-[16px] mb-2">
      <span class="font-bold"
        >Blog <span class="font-playfair text-red-600">Amigos</span></span
      >
      có lẽ vẫn còn đó những thiếu sót và lỗi hệ thống tiềm ẩn, nhưng tôi vẫn
      nhận ý kiến của các bạn đọc để cập nhật và sửa đổi.
    </p>
    <p class="text-[16px] mb-2">
      Một ngày nào đó có lẽ công việc của tôi ngày càng nhiều, tôi sẽ không còn
      dành được thời gian cho đam mê của mình để tiếp tục viết. Nhưng tôi mong
      là nó đã được mọi người biết đến và đọc những gì mà tôi viết, mong rằng nó
      giúp các bạn có được niềm đam mê về nghệ thuật như tôi, hay chỉ đơn giản
      có được vài phút giải trí.
    </p>
    <p class="text-[16px] mb-2">
      Tương lai có lẽ
      <span class="font-bold"
        >Blog <span class="font-playfair text-red-600">Amigos</span></span
      >
      sẽ phát triển sang một phiên bản lớn hơn với những con người tài năng và
      hiểu biết về nghệ thuật để có thể đóng góp những cảm nhận và đánh giá của
      họ cho mọi người cùng đọc và cùng nhau xây dựng một cộng đồng chia sẻ
      những suy nghĩ của mình qua những bài viết.
    </p>
    <p class="text-[16px] mb-2">
      Tôi hi vọng
      <span class="font-bold"
        >Blog <span class="font-playfair text-red-600">Amigos</span></span
      >
      sẽ là bước đệm đầu tiên cho những sản phẩm tốt hơn sau này.
    </p>
  </div>
  <div class="mt-10">
    <p
      class="italic font-playfair font-[500] text-[24px] text-gray-600 text-center md:text-[20px] sm:text-[18px]"
    >
      " Cảm ơn bạn đã dành thời gian ghé qua và đọc những gì tôi viết, tôi hi
      vọng nó mang lại cho bạn chút thời gian giải trí. Viết lách cũng là một
      cách để tôi giải tỏa những suy nghĩ tiêu cực để tiếp tục bắt đầu một ngày
      mới!"
      <br />
      Cheers &#129346;!
    </p>
    <div>
      <img
        class="w-[300px] mx-auto"
        src="{% static 'images/smile-cat.gif' %}"
        alt="smile-cat"
      />
    </div>
  </div>
</div>
{% endblock %}
