{% extends "base.html" %} {% load static %}{%block title %} Về bản thân tôi
{%endblock%} {% block content %}
<div class="w-11/12 max-w-[800px] mx-auto">
  <h1 class="text-center font-lato mx-auto mb-20">Về bản thân tôi</h1>
  <div class="flex gap-x-4 gap-y-4 mb-5 sm:flex-col">
    <div class="w-[300px] h-[300px] sm:w-full sm:h-[200px]">
      <img
        class="block h-full w-full object-cover"
        src="{% static 'images/my-portrait.jpg' %}"
        alt="my-profile-img"
      />
    </div>
    <div>
      <h5
        class="text-[24px] font-[700] mb-5 text-blue-700 font-playfair bg-clip-text dark:text-transparent bg-gradient-to-l from-red-800 via-red-600 to-blue-600"
      >
        Nguyễn Gia Khánh Tùng
      </h5>
      <p>Tên khác: Nguyễn Minh Anh</p>
      <p>Chuyên ngành: Thiết kế và lập trình websites</p>
      <p>Vai trò: Lập trình viên Front-end, Viết tự do</p>
      <p>Ngày sinh: 30/01/2002</p>
      <p>Hiện đang sống và làm việc tại Hà Nội.</p>
      <p>Chiều cao: 1m75 (không cao hơn được nữa &#128557;)</p>
      <p>
        Sở thích: xem phim, nghe nhạc, vẽ vời, viết lách, ăn uống và lập trình
      </p>
      <p>Ghét: Mỡ béo và những ai cao hơn mình :)))</p>
      <p>
        <img
          src="{% static 'images/bugcat.gif' %}"
          alt="bugcat.gif"
          class="w-[100px] h-[100px] my-5"
        />
      </p>
    </div>
  </div>
  <div class="mb-5">
    <h4 class="text-[24px] mb-4">Đôi nét về tôi:</h4>
    <p class="font-playfair text-[16px] italic mb-2">
      " Tôi là một sinh viên IT đang theo học và làm việc tại Hà Nội với chuyên
      ngành là thiết kế và lập trình website. Tôi theo học ngành này vì đơn giản
      là tôi khá giỏi về nó :) và cũng rất dễ để tạo cho bản thân một trang web.
      Nhưng đam mê chính của tôi chính là nghệ thuật:
      <span class="font-bold">điện ảnh</span>,
      <span class="font-bold">nhiếp ảnh</span>,
      <span class="font-bold">âm nhạc</span> và
      <span class="font-bold">hội họa</span>
      - Đó đều là những thứ mà tôi không hề có chút tài năng nào :)
    </p>
    <p class="font-playfair italic mb-2">
      Nhưng tôi lại khá là giỏi ở những khoản liên quan đến công nghệ nên tôi
      chơi video game rất giỏi. Nếu bạn ở Hà Nội và muốn tìm ai chơi game cùng,
      bạn có thể liên lạc cho tôi.
    </p>
    <p class="font-playfair italic mb-2">
      Tôi tự nhận bản thân là một con người khá vui tính, dễ nói chuyện, và có
      thể thích nghi với từng loại người và từng môi trường sống.
    </p>
    <p class="font-playfair italic mb-2">
      Tôi cũng khá là weeaboo :) như bạn thấy hình đại diện của tôi đó. Cũng vì
      vậy chúng ta lại có thêm một mục về Anime/Manga - thứ mà tôi rất thích nói
      về nó."
    </p>
  </div>
</div>
{% endblock %}
