{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://res.cloudinary.com/dige8bejc/image/upload/v1695184555/tpbuuwke2nzxwaaxtsxg.png"
    />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body class="dark:bg-dark">
    {% include 'sidebar.html' %}
    <header>
      <div
        class="flex items-center justify-between lg:justify-center mx-auto w-11/12 max-w-[1600px] lg:py-8"
      >
        <button
          id="nav-btn"
          class="text-dark dark:text-white z-40 p-2 sidebarToggle lg:fixed lg:left-2 lg:top-10"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M4 6h16M4 12h8m-8 6h16"
            ></path>
          </svg>
        </button>
        <div>
          <h6 class="logo logo-head">
            <a href="{% url 'index' %}"
              ><span class="font-lato text-dark dark:text-transparent"
                >Blog</span
              >
              Amigos</a
            >
          </h6>
          <p class="text-sm text-gray-500 font-playfair text-center">
            Phim ảnh, video games, âm nhạc và nhiều hơn thế!
          </p>
        </div>
        <div
          class="flex justify-center items-center gap-x-8 lg:hidden dark:text-white"
        >
          <a
            href="https://www.facebook.com/profile.php?id=100009958477102"
            target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="https://twitter.com/minh_anh30" target="_blank"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a href="mailto:tinproht123@gmail.com" target="_blank"
            ><i class="fa-solid fa-envelope"></i
          ></a>
          <!-- THEME BUTTON  -->
          <button class="theme-btn nav-theme-btn ml-5">
            <i class="fa-regular fa-moon"></i>
          </button>
        </div>
      </div>
    </header>
    <nav
      class="flex gap-x-20 lg:hidden justify-center items-center border-t-2 border-b-2 my-5 list-none sticky top-0 bg-white dark:bg-dark dark:text-white z-40"
    >
      <li
        class="text-[18px] font-[600] hover:text-red-600 transition-all py-4 {% if '/movies/' in request.path %}text-red-600{% endif %}"
      >
        <a href="{% url 'movies' %}">Phim Ảnh</a>
      </li>
      <li
        class="text-[18px] font-[600] hover:text-red-600 transition-all py-4 {% if '/video-games/' in request.path %}text-red-600{% endif %}"
      >
        <a href="{% url 'video_games' %}">Video Game</a>
      </li>
      <li
        class="text-[18px] font-[600] hover:text-red-600 transition-all py-4 {% if '/animes/' in request.path %}text-red-600{% endif %}"
      >
        <a href="{% url 'animes' %}">Anime</a>
      </li>
      <li
        class="text-[18px] font-[600] hover:text-red-600 transition-all py-4 {% if '/mangas/' in request.path %}text-red-600{% endif %}"
      >
        <a href="{% url 'mangas' %}">Manga</a>
      </li>
      <li
        class="text-[18px] font-[600] hover:text-red-600 transition-all py-4 {% if '/musics/' in request.path %}text-red-600{% endif %}"
      >
        <a href="{% url 'musics' %}">Âm Nhạc</a>
      </li>
    </nav>

    <!-- MAIN CONTENT  -->
    <main class="min-h-screen">{% block content %} {% endblock %}</main>

    <!-- FOOTER  -->
    <footer
      class="bg-black w-full py-10 text-white text-center mt-14 border-t-2 border-white"
    >
      <div class="flex flex-col gap-y-5">
        <h6 class="logo text-[24px]">
          <a href="{% url 'index' %}"
            ><span class="font-lato text-white dark:text-transparent"
              >Blog</span
            >
            Amigos</a
          >
        </h6>
        <p>Bản quyền thuộc về Khánh Tùng@2023</p>
        <p class="text-sm italic px-2 sm:text-[14px]">
          Hiện tại web vẫn đang chạy thử nghiệm, mình rất vui lòng nếu các bạn
          có feedback lỗi hoặc góp ý để mình hoàn thiện web tốt hơn. Cheers!
        </p>
        <div class="flex justify-center items-center gap-x-8">
          <a
            href="https://www.facebook.com/profile.php?id=100009958477102"
            target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="https://twitter.com/minh_anh30" target="_blank"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a href="mailto:tinproht123@gmail.com" target="_blank"
            ><i class="fa-solid fa-envelope"></i
          ></a>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    {% block script %} {% endblock %}
    <script>
      // JavaScript code for sidebar toggle functionality
      const sidebarToggle = document.querySelector(".sidebarToggle");
      const sidebar = document.querySelector(".sidebar");
      const sidebarOverlay = document.querySelector(".sidebarOverlay");
      const closeBtn = document.querySelector(".close-btn");
      const body = document.querySelector("body");
      const nav = document.querySelector("nav");
      const navThemeBtn = document.querySelector(".nav-theme-btn");

      sidebarToggle.addEventListener("click", () => {
        sidebar.classList.toggle("-translate-x-full");
        sidebarOverlay.classList.toggle("hidden");
      });

      sidebarOverlay.addEventListener("click", () => {
        sidebar.classList.toggle("-translate-x-full");
        sidebarOverlay.classList.toggle("hidden");
      });

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("-translate-x-full");
        sidebarOverlay.classList.toggle("hidden");
      });

      //JavaScript code for navbar shadow whenever hit the top of page and sidebar button shadow whenever scroll down
      const navbar = document.querySelector("nav");
      const navBtn = document.querySelector("#nav-btn");
      const logoHead = document.querySelector(".logo-head");

      // Handle all scroll listeners event
      window.addEventListener("scroll", function () {
        const boundingNav = navbar.getBoundingClientRect();
        const boundingLogoHead = logoHead.getBoundingClientRect();

        // Add shadow and put navbar on the top of page when scroll down
        // Fixed a theme button with navbar
        if (boundingNav.top <= 0) {
          navbar.classList.add("shadow-lg");
          navThemeBtn.classList.add("fixed-theme-btn");
        } else {
          navbar.classList.remove("shadow-lg");
          navThemeBtn.classList.remove("fixed-theme-btn");
        }

        // Highlight the nav button when scroll down
        if (boundingLogoHead.top < 0) {
          navBtn.classList.add("nav-btn");
          navBtn.classList.remove("lg:top-10");
          navBtn.classList.add("lg:top-2");
        } else {
          navBtn.classList.remove("nav-btn");
          navBtn.classList.remove("lg:top-2");
          navBtn.classList.add("lg:top-10");
        }
      });

      // Lazy loading image
      const lazyImages = document.querySelectorAll(".lazy-img");

      const lazyLoad = (target) => {
        const io = new IntersectionObserver((entries, observer) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              const img = entry.target;
              const src = img.getAttribute("data-lazy");

              img.setAttribute("src", src);
              img.classList.add("fade");

              observer.disconnect();
            }
          });
        });
        io.observe(target);
      };

      lazyImages.forEach((lazyImage) => {
        lazyLoad(lazyImage);
      });

      // Dark mode
      // THEME BUTTON ACTION
      const themeBtns = document.querySelectorAll(".theme-btn");

      // Check user preference or trigger based on user interaction to toggle dark mode
      const prefersDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      const storedDarkMode = localStorage.getItem("darkMode");
      let isDarkMode = storedDarkMode === "true";

      // Function to toggle dark mode
      function toggleDarkMode() {
        isDarkMode = !isDarkMode;
        body.classList.add("fade");
        nav.classList.add("fade");
        document.documentElement.classList.toggle("dark", isDarkMode);
        setTimeout(() => {
          body.classList.remove("fade");
          nav.classList.remove("fade");
        }, 300);

        // Change icon
        themeBtns.forEach((themeBtn) => {
          const icon = themeBtn.querySelector(":first-child");
          if (!isDarkMode) {
            icon.classList.remove("fa-sun");
            icon.classList.add("fa-moon");
          } else {
            icon.classList.remove("fa-moon");
            icon.classList.add("fa-sun");
          }
        });

        localStorage.setItem("darkMode", isDarkMode);
      }

      themeBtns.forEach((themeBtn) => {
        // Initial setup based on user preference or stored preference
        document.documentElement.classList.toggle(
          "dark",
          prefersDarkMode || isDarkMode
        );

        themeBtn.addEventListener("click", toggleDarkMode);
      });

      //Handle events when page is loaded
      document.addEventListener("DOMContentLoaded", function () {
        // Code to be executed when the page has finished loading
        themeBtns.forEach((themeBtn) => {
          const icon = themeBtn.querySelector(":first-child");
          if (!isDarkMode) {
            icon.classList.remove("fa-sun");
            icon.classList.add("fa-moon");
          } else {
            icon.classList.remove("fa-moon");
            icon.classList.add("fa-sun");
          }
        });
      });
    </script>
  </body>
</html>
