{% extends "base.html" %} 
{% load static %} 
{% block title %} Blog Amigos {%endblock%} 
{% block content %}
<div class="w-11/12 max-w-[1600px] mx-auto">
  {% comment %} MOVIE POST LIST {% endcomment %}
  <div>
    <div class="flex items-center py-4">
      <!-- Your text here -->
      <span class="flex-shrink text-[16px] pr-4 font-[900] font-open-sans">
        <a href="{% url 'movies' %}">PHIM ẢNH</a>
      </span>

      <!-- The right line -->
      <div class="flex-grow h-[1px] bg-gray-300"></div>
    </div>
    <div class="py-5 flex lg:flex-col-reverse">
      <div class="pr-5 md:p-0 w-[500px] lg:w-full lg:border-t lg:border-gray-400">
        {% for post in posts_movie|slice:"1:6"%}
        <div class="flex gap-x-6 border-b-2 py-4 last:border-0">
          <div class="w-full max-w-[150px] sm:w-[120px] h-[100px] cursor-pointer flex-shrink-0">
            <a href="{% url 'post_view' pk=post.pk %}">
              <img
                src="{{ post.image.url }}"
                class="w-full h-full object-cover"
              />
            </a>
          </div>
          <div class="flex flex-col gap-y-2">
            <h3 class="cursor-pointer hover:underline font-playfair">
              <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <div>
              {% for tag in post.tag.all %} {% if 'Review' in tag.name %}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-sm text-gray-600 lg:text-[14px] sm:text-[12px]">
              {{post.description|slice:":120"}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- RIGHT SIDE  -->
      <div
        class="flex flex-col flex-1 gap-y-2 border-l lg:border-none border-gray-400 overflow-hidden pl-5 lg:pl-0 lg:pb-5"
      >
        <div class="w-full h-[500px] lg:h-[350px] md:h-[250px] sm:h-[200px] cursor-pointer flex-shrink-0">
          <a href="{% url 'post_view' pk=posts_movie.0.pk %}">
            <img
              src="{{ posts_movie.0.image.url }}"
              class="w-full h-full object-cover"
            />
          </a>
        </div>
        <h3
          class="text-[30px] lg:text-[24px] font-[600] font-playfair hover:underline leading-[50px] lg:leading-[30px]"
        >
          <a href="{% url 'post_view' pk=posts_movie.0.pk %}"
            >{{ posts_movie.0.title }}</a
          >
        </h3>
        <div>
          {% for tag in posts_movie.0.tag.all %} {% if 'Review' in tag.name %}
          <p class="badge-review flex-shrink-0 inline">Review</p>
          {% elif 'Cảm Nhận' in tag.name %}
          <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
          {% elif 'Bàn Luận' in tag.name %}
          <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
          {% endif %} {% endfor %}
        </div>
        <p class="text-gray-600 lg:text-[14px] sm:text-[12px]">{{ posts_movie.0.description }}</p>
      </div>
    </div>
  </div>

  <!-- VIDEO GAME  -->
  <div>
    <div class="flex items-center py-4">
      <!-- Your text here -->
      <span class="flex-shrink text-[16px] pr-4 font-open-sans font-[900]">
        <a href="{% url 'video_games' %}">VIDEO GAME</a>
      </span>

      <!-- The right line -->
      <div class="flex-grow h-[1px] bg-gray-300"></div>
    </div>
    <div class="py-5 flex flex-row-reverse lg:flex-col-reverse">
      <div class="pl-5 lg:p-0 w-[500px] lg:w-full lg:border-t lg:border-gray-400">
        {% for post in posts_video_game|slice:"1:6"%}
        <div class="flex gap-x-6 border-b-2 py-4 last:border-0">
          <div class="w-full max-w-[150px] sm:w-[120px] h-[100px] cursor-pointer flex-shrink-0">
            <a href="{% url 'post_view' pk=post.pk %}">
              <img
                src="{{ post.image.url }}"
                class="w-full h-full object-cover"
              />
            </a>
          </div>
          <div class="flex flex-col gap-y-2">
            <h3 class="cursor-pointer hover:underline font-playfair">
              <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <div>
              {% for tag in post.tag.all %} {% if 'Review' in tag.name %}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-sm text-gray-600 lg:text-[14px] sm:text-[12px]">
              {{post.description|slice:":120"}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>

      {% comment %} LEFT SIDE {% endcomment %}
      <div
        class="flex flex-col flex-1 gap-y-2 border-r lg:border-none border-gray-400 overflow-hidden pr-5 lg:pl-0 lg:pb-5"
      >
        <div class="w-full h-[500px] lg:h-[350px] md:h-[250px] sm:h-[200px] cursor-pointer flex-shrink-0">
          <a href="{% url 'post_view' pk=posts_video_game.0.pk %}">
            <img
              src="{{ posts_video_game.0.image.url }}"
              class="w-full h-full object-cover"
            />
          </a>
        </div>
        <h3
          class="text-[30px] lg:text-[24px] font-[600] font-playfair hover:underline leading-[50px] lg:leading-[30px]"
        >
          <a href="{% url 'post_view' pk=posts_video_game.0.pk %}"
            >{{ posts_video_game.0.title }}</a
          >
        </h3>
        <div>
          {%for tag in posts_video_game.0.tag.all%} {%if 'Review' in tag.name%}
          <p class="badge-review flex-shrink-0 inline">Review</p>
          {% elif 'Cảm Nhận' in tag.name %}
          <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
          {% elif 'Bàn Luận' in tag.name %}
          <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
          {% endif %} {% endfor %}
        </div>
        <p class="text-gray-600 lg:text-[14px] sm:text-[12px]">{{ posts_video_game.0.description }}</p>
      </div>
    </div>
  </div>

  <!-- ANIME POSTS  -->
  <div>
    <div class="flex items-center py-4">
      <!-- Your text here -->
      <span class="flex-shrink text-[16px] pr-4 font-[900] font-open-sans">
        <a href="{% url 'animes' %}">ANIME</a>
      </span>

      <!-- The right line -->
      <div class="flex-grow h-[1px] bg-gray-300"></div>
    </div>
    <div class="py-5">
      <swiper-container
        class="flex swiper-container-anime"
        autoplay-delay="5000"
        autoplay-disable-on-interaction="false"
        space-between="10"
      >
        {% for post in posts_anime %}
        <swiper-slide>
          <div
            class="flex flex-col gap-y-2 border-l border-gray-400 first:border-l-0"
          >
            <div class="w-full h-[200px]">
              <a href="{% url 'post_view' pk=post.pk %}">
                <img
                  src="{{ post.image.url }}"
                  alt="{{ post.title }}"
                  class="w-full h-full object-cover object-center"
                />
              </a>
            </div>
            <h3 class="cursor-pointer hover:underline font-playfair">
              <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <div>
              {%for tag in post.tag.all%} {%if 'Review' in tag.name%}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-sm text-gray-600 lg:text-[14px] sm:text-[12px]">
              {{post.description|slice:":120"}}
            </p>
          </div>
        </swiper-slide>
        {% endfor %}
      </swiper-container>
    </div>
  </div>

  <!-- MANGA POSTS  -->
  <div>
    <div class="flex items-center py-4">
      <!-- Your text here -->
      <span class="flex-shrink text-[16px] pr-4 font-[900] font-open-sans">
        <a href="{% url 'mangas' %}">MANGA</a>
      </span>

      <!-- The right line -->
      <div class="flex-grow h-[1px] bg-gray-300"></div>
    </div>
    <div class="py-5">
      <swiper-container
        class="flex swiper-container-manga"
        autoplay-delay="5000"
        autoplay-disable-on-interaction="false"
        space-between="10"
      >
        {% for post in posts_manga %}
        <swiper-slide>
          <div
            class="flex flex-col gap-y-2 border-l border-gray-400 first:border-l-0"
          >
            <div class="w-full h-[200px]">
              <a href="{% url 'post_view' pk=post.pk %}">
                <img
                  src="{{ post.image.url }}"
                  alt="{{ post.title }}"
                  class="w-full h-full object-cover object-center"
                />
              </a>
            </div>
            <h3 class="cursor-pointer hover:underline font-playfair">
              <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <div>
              {%for tag in post.tag.all%} {%if 'Review' in tag.name%}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-sm text-gray-600 lg:text-[14px] sm:text-[12px]">
              {{post.description|slice:":120"}}
            </p>
          </div>
        </swiper-slide>
        {% endfor %}
      </swiper-container>
    </div>
  </div>

  {% comment %} MUSIC POSTS SLIDE {% endcomment %}
  <div>
    <div class="flex items-center py-4">
      <!-- Your text here -->
      <span class="flex-shrink text-[16px] pr-4 font-[900] font-open-sans">
        <a href="{% url 'musics' %}">ÂM NHẠC</a>
      </span>

      <!-- The right line -->
      <div class="flex-grow h-[1px] bg-gray-300"></div>
    </div>
    <swiper-container
      class="mySwiper"
      pagination="true"
      pagination-type="progressbar"
      space-between="30"
      effect="fade"
      centered-slides="true"
      autoplay-delay="3000"
      autoplay-disable-on-interaction="false"
    >
      {% for post in posts_music %}
      <swiper-slide class="h-[70vh] md:h-[40vh] sm:h-[30vh] relative w-full">
        <img
          src="{{ post.image.url }}"
          alt=""
          class="w-full h-full object-cover object-center"
        />
        <!-- FILTER DARKEN  -->
        <div
          class="absolute h-[70vh] w-full bg-no-repeat bg-black/50 top-0"
        ></div>
        <div class="absolute top-2/4 left-16 md:left-4">
          <h3
            class="text-center text-white hover:underline font-playfair text-[5vh] md:text-[22px] sm:text-[16px] tracking-[3px] max-w-[800px] leading-[60px] md:leading-[30px]"
            style="text-decoration-color: white"
          >
            <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
          </h3>
        </div>
      </swiper-slide>
      {% endfor %}
    </swiper-container>
  </div>

  {% comment %} ALL POSTS {% endcomment %}
  <div>
    <div class="flex items-center py-4">
      <!-- Your text here -->
      <span class="flex-shrink text-[16px] pr-4 font-[900] font-open-sans">
        <a href="{% url 'posts' %}">DANH SÁCH BÀI VIẾT</a>
      </span>

      <!-- The right line -->
      <div class="flex-grow h-[1px] bg-gray-300"></div>
    </div>
  </div>
  <div class="flex gap-x-6 lg:flex-col">
    <div class="flex flex-1 flex-col">
      {% for post in posts %}
      <div class="flex gap-x-6 border-b-2 py-4 last:border-0">
        <div class="w-full max-w-[300px] md:w-[200px] sm:w-[120px] h-[200px] md:h-[150px] sm:h-[80px] cursor-pointer flex-shrink-0">
          <a href="{% url 'post_view' pk=post.pk %}">
            <img
              src="{{ post.image.url }}"
              class="w-full h-full object-cover"
            />
          </a>
        </div>
        <div class="flex flex-col gap-y-2">
          <h3 class="cursor-pointer hover:underline font-playfair">
            <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
          </h3>
          <div>
            {% for tag in post.tag.all %} {% if 'Review' in tag.name %}
            <p class="badge-review flex-shrink-0 inline">Review</p>
            {% elif 'Cảm Nhận' in tag.name %}
            <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
            {% elif 'Bàn Luận' in tag.name %}
            <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
            {% endif %} {% endfor %}
          </div>
          <p class="text-sm text-gray-600 lg:text-[14px] sm:text-[12px]">{{post.description|slice:":80"}}</p>
        </div>
      </div>
      {% endfor %}

      <span class="text-center my-10">
        {% if posts.has_previous %}
            <a href="/posts/?page=1" class="mx-1 px-3 py-2 {% if posts.number == 1 %}active-link{% endif %}">&laquo; Trước</a>
        {% endif %}

        {% if posts.number > 3 %}
          <a href="/posts/?page=1" class="mx-1 px-3 py-2">1</a>
          <span class="mx-1 px-3 py-2">...</span>
        {% endif %}

        {% for i in posts.paginator.page_range %}
            {% if i > posts.number|add:"-3" and i < posts.number|add:"3" %}
                {% if posts.number == i %}
                  <div class="active-link pointer-events-none cursor-text">
                    <a href="/posts/?page={{ i }}" class="mx-1">{{ i }}</a>
                  </div>
                {% else %}
                    <a href="/posts/?page={{ i }}" class="mx-1 px-3 py-2">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

          {% if posts.has_next %}
              <a href="/posts/?page={{ posts.paginator.num_pages }}" class="mx-1 px-3 py-2">Sau &raquo;</a>
          {% endif %}
      </span>
    </div>
    <!-- SUB SIDEBAR  -->
    <div class="w-72 lg:w-full flex-none border-l lg:border-none border-gray-400 pl-4 lg:pl-0">
      <div>
        <div class="py-px border-b-2 border-gray-400">
          <h6 class="font-bold">
            <a href="{% url 'posts_review' %}">Review</a>
          </h6>
        </div>
        <ul class="p-4 list-square">
          <li class="font-[500] hover:underline">
            <a href="{% url 'movies_review' %}">Phim Ảnh</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'video_games_review' %}">Video Game</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'animes_review' %}">Anime</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'mangas_review' %}">Manga</a>
          </li>
        </ul>
      </div>
      <div class="mt-5">
        <div class="py-px border-b-2 border-gray-400">
          <h6 class="font-bold">
            <a href="{% url 'posts_thought' %}">Cảm Nhận</a>
          </h6>
        </div>
        <ul class="p-4 list-square">
          <li class="font-[500] hover:underline">
            <a href="{% url 'movies_thought' %}">Phim Ảnh</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'video_games_thought' %}">Video Game</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'animes_thought' %}">Anime</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'mangas_thought' %}">Manga</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'musics_thought' %}">Âm Nhạc</a>
          </li>
        </ul>
      </div>
      <div class="mt-5">
        <div class="py-px border-b-2 border-gray-400">
          <h6 class="font-bold">
            <a href="{% url 'posts_discuss' %}">Bàn Luận</a>
          </h6>
        </div>
        <ul class="p-4 list-square">
          <li class="font-[500] hover:underline">
            <a href="{% url 'movies_discuss' %}">Phim Ảnh</a>
          </li>
          <li class="font-[500] hover:underline">
            <a href="{% url 'animes_discuss' %}">Anime</a>
          </li>
        </ul>
      </div>
      <div class="mt-5">
        <div class="py-px border-b-2 border-gray-400">
          <h6 class="font-bold">
            Được quan tâm
          </h6>
        </div>
        <div class="flex flex-col gap-y-2 mt-5">
          {% for post in recommend_posts %}
            <div class="flex gap-x-2">
              <div class="w-[100px] lg:w-[150px] sm:w-[120px] h-[80px] md:h-[100px] cursor-pointer flex-shrink-0">
                <a href="{% url 'post_view' pk=post.pk %}">
                  <img
                    src="{{ post.image.url }}"
                    class="w-full h-full object-cover"
                  />
                </a>
              </div>
              <div>
                <p class="cursor-pointer hover:underline text-[16px] m-0 font-playfair font-[600]">
                  <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
                </p>
                <p class="text-sm text-gray-400">{{ post.created_at|date:"d/m/Y" }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
  </div>
  {% endblock %} 
  {% block script %}
  <script>
    // SWIPER JS 
    const swiperElAnime = document.querySelector(".swiper-container-anime");
    const swiperElManga = document.querySelector(".swiper-container-manga");

    const params = {
      centeredSlides: false,
      allowTouchMove: false,
      breakpoints: {
        "@0.75": {
          slidesPerView: 1,
          slidesPerGroup: 1,
          allowTouchMove: true,
          pagination: {
            type: 'progressbar'
          }
        },
        "@1.25": {
          slidesPerView: 3,
          slidesPerGroup: 3,
          allowTouchMove: true,
          pagination: {
            type: 'progressbar'
          }
        },
        "@2.0": {
          slidesPerView: 5,
          slidesPerGroup: 5,
          allowTouchMove: false
        },
      },
      pagination: {
        clickable: true,
      },
    };

    Object.assign(swiperElAnime, params);
    Object.assign(swiperElManga, params);

    swiperElAnime.initialize();
    swiperElManga.initialize();
  </script>
  {% endblock %}
</div>
