{% extends 'base.html' %} 
{% block title %} Blog Amigos {% endblock%} 
{% load static %} 
{% block content %}
<div class="mx-auto w-11/12 max-w-[1600px]">
  <div class="pb-10 flex flex-col gap-y-4">
    <p class="text-5xl md:text-3xl tracking-[2px] font-[600] font-playfair">{{tag.name}}</p>
    <p class="font-playfair w-full max-w-[800px]">{{tag.description}}</p>
    <ul class="flex gap-x-4">
      {% for sub_tag in sub_tags %}
      <li class="py-1 px-5 bg-black/80 hover:bg-black/50 text-white">
        <a href="{% url sub_tag.url_name %}">{{ sub_tag.name|safe }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <div class="flex lg:flex-col gap-x-8 border-y-2 py-10">
      <div class="flex-1 h-[300px] lg:h-[250px] md:h-[200px] flex-shrink-0 flex-grow-0">
        <a href="{% url 'post_view' pk=posts.0.pk %}" class="h-full w-full">
          <img
            class="w-full object-cover h-full"
            src="{{ posts.0.image.url }}"
            alt=""
          />
        </a>
      </div>
      <div class="flex flex-col gap-y-2 flex-1 justify-center">
        <h3
          class="text-[30px] md:text-[24px] font-[600] font-playfair hover:underline leading-[50px] md:leading-[40px]"
        >
          <a href="{% url 'post_view' pk=posts.0.pk %}">{{ posts.0.title}}</a>
        </h3>
        <div>
          {% for tag in posts.0.tag.all %} {% if 'Review' in tag.name %}
          <p class="badge-review flex-shrink-0 inline">Review</p>
          {% elif 'Cảm Nhận' in tag.name %}
          <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
          {% elif 'Bàn Luận' in tag.name %}
          <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
          {% endif %} {% endfor %}
        </div>
        <p class="text-sm text-gray-600">{{ posts.0.description }}</p>
      </div>
    </div>
    <!-- POST LIST  -->
    <div class="flex mt-5 lg:flex-col">
      <div class="flex flex-1 flex-col">
        {% for post in posts|slice:"1:9" %}
        <div class="flex gap-x-6 border-b-2 py-4 last:border-0">
          <div class="w-[250px] md:w-[200px] h-[200px] md:h-[150px] cursor-pointer flex-shrink-0">
            <a href="{% url 'post_view' pk=post.pk %}">
              <img
                src="{{ post.image.url }}"
                class="w-full h-full object-cover"
              />
            </a>
          </div>
          <div class="flex flex-col gap-y-2">
            <h3 class="cursor-pointer hover:underline font-playfair">
              <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <div>
              {% for tag in post.tag.all %} {% if 'Review' in tag.name %}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-sm text-gray-600">{{post.description|slice:":80"}}</p>
          </div>
        </div>
        {% endfor %}
  
        <span class="text-center my-10">
          {% if posts.has_previous %}
              <a href="/posts/?page=1" class="mx-1 px-3 py-2 {% if posts.number == 1 %}active-link{% endif %}">&laquo; Trước</a>
          {% endif %}
  
          {% if posts.number > 3 %}
            <a href="/posts/?page=1" class="mx-1 px-3 py-2">1</a>
            <span class="mx-1 px-3 py-2">...</span>
          {% endif %}
  
          {% for i in posts.paginator.page_range %}
              {% if i > posts.number|add:"-3" and i < posts.number|add:"3" %}
                  {% if posts.number == i %}
                    <div class="active-link pointer-events-none cursor-text">
                      <a href="/posts/?page={{ i }}" class="mx-1">{{ i }}</a>
                    </div>
                  {% else %}
                      <a href="/posts/?page={{ i }}" class="mx-1 px-3 py-2">{{ i }}</a>
                  {% endif %}
              {% endif %}
          {% endfor %}
  
            {% if posts.has_next %}
                <a href="/posts/?page={{ posts.paginator.num_pages }}" class="mx-1 px-3 py-2">Sau &raquo;</a>
            {% endif %}
        </span>
      </div>
      <!-- SUB SIDEBAR  -->
      <div class="w-72 lg:w-full flex-none border-l lg:border-none border-gray-400 pl-4 lg:pl-0">
        <div>
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              <a href="{% url 'posts_review' %}">Review</a>
            </h6>
          </div>
          <ul class="p-4 list-square">
            <li class="font-[500] hover:underline">
              <a href="{% url 'movies_review' %}">Phim Ảnh</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'video_games_review' %}">Video Game</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'animes_review' %}">Anime</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'mangas_review' %}">Manga</a>
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              <a href="{% url 'posts_thought' %}">Cảm Nhận</a>
            </h6>
          </div>
          <ul class="p-4 list-square">
            <li class="font-[500] hover:underline">
              <a href="{% url 'movies_thought' %}">Phim Ảnh</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'video_games_thought' %}">Video Game</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'animes_thought' %}">Anime</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'mangas_thought' %}">Manga</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'musics_thought' %}">Âm Nhạc</a>
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              <a href="{% url 'posts_discuss' %}">Bàn Luận</a>
            </h6>
          </div>
          <ul class="p-4 list-square">
            <li class="font-[500] hover:underline">
              <a href="{% url 'movies_discuss' %}">Phim Ảnh</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'animes_discuss' %}">Anime</a>
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              Được quan tâm
            </h6>
          </div>
          <div class="flex flex-col gap-y-2 mt-5">
            {% for post in recommend_posts %}
              <div class="flex gap-x-2">
                <div class="w-[100px] lg:w-[200px] h-[80px] lg:h-[150px] cursor-pointer flex-shrink-0">
                  <a href="{% url 'post_view' pk=post.pk %}">
                    <img
                      src="{{ post.image.url }}"
                      class="w-full h-full object-cover"
                    />
                  </a>
                </div>
                <div>
                  <p class="cursor-pointer hover:underline text-[16px] m-0 font-playfair font-[600]">
                    <a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a>
                  </p>
                  <p class="text-sm text-gray-400">{{ post.created_at|date:"d/m/Y" }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
