{% extends 'base.html' %} 
{% block title %} 
  Blog Amigos - {% if tag.parent_tag.name|length != 0  %} {{ tag.parent_tag.name }} - {% endif %} {% if tag.name|length == 0 %} Danh sách bài viết {% else %} {{ tag.name }} {% endif %} - Trang{% if posts.number != 1 %} {{ posts.number }} {% else %} 1 {% endif %}
{% endblock%} 
{% load static %} 
{% block content %}
<div class="mx-auto w-11/12 max-w-[1600px]">
  {% if tag.name|length != 0 %}
  <div class="pb-10 flex flex-col gap-y-4">
    <h1 class="text-4xl lg:text-3xl md:text-2xl tracking-[2px] font-[600] font-playfair dark:text-white">{{tag.name}}</h1>
    <p class="font-playfair w-full max-w-[800px] md:text-[16px] sm:text-[14px]">{{tag.description}}</p>
    <ul class="flex gap-x-4">
      {% for sub_tag in sub_tags %}
      <li class="py-1 px-5 bg-black/80 hover:bg-black/50 text-white md:text-[14px] sm:text-[12px]">
        <a href="{% url sub_tag.url_name %}" rel="nofollow">{{ sub_tag.name|safe }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div>
    <div class="flex lg:flex-col gap-x-8 border-y-2 py-10">
      <div class="w-1/2 lg:w-full h-[300px] md:h-[200px] flex-shrink-0">
        <a href="{% url 'post_view' slug=posts.0.slug %}" rel="nofollow">
          <img
            class="w-full object-cover h-full lazy-img"
            data-lazy="{{ posts.0.image.url }}"
            alt="{{ posts.0.title }}"
          />
        </a>
      </div>
      <div class="flex flex-col gap-y-2 flex-1 justify-center">
        <h2
          class="text-[30px] md:text-[24px] font-[600] font-playfair hover:underline leading-[50px] md:leading-[35px] md:mt-5"
        >
          <a href="{% url 'post_view' slug=posts.0.slug %}" rel="nofollow">{{ posts.0.title}}</a>
        </h2>
        <div>
          {% for tag in posts.0.tag.all %} 
            {% if 'Review' in tag.name %}
              <p class="badge-review flex-shrink-0 inline">Review</p>
            {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
            {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
            {% endif %} 
          {% endfor %}
        </div>
        <p class="text-sm text-gray-600">{{ posts.0.description }}</p>
      </div>
    </div>
    <!-- POST LIST  -->
    <div class="flex mt-5 lg:flex-col">
      <div class="flex flex-1 flex-col pr-5">
        {% for post in posts|slice:"1:9" %}
        <div class="flex gap-x-6 border-b-2 py-4 last:border-0">
          <div class="w-full max-w-[300px] md:w-[200px] sm:w-[120px] h-[200px] md:h-[150px] sm:h-[80px] cursor-pointer flex-shrink-0">
            <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">
              <img
                data-lazy="{{ post.image.url }}"
                class="w-full h-full object-cover lazy-img"
                alt="{{ post.title }}"
              />
            </a>
          </div>
          <div class="flex flex-col gap-y-2">
            <h4 class="cursor-pointer hover:underline font-playfair">
              <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">{{ post.title }}</a>
            </h4>
            <div>
              {% for tag in post.tag.all %} {% if 'Review' in tag.name %}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-sm text-gray-600 lg:text-[14px] sm:text-[12px]">
                {{ post.description }}
            </p>
          </div>
        </div>
        {% endfor %}
  
        <span class="text-center my-10 dark:text-white">
          {% if posts.has_previous %}
              <a href="/posts/" class="mx-1 px-3 py-2 {% if posts.number == 1 %}active-link{% endif %}" rel="nofollow">&laquo; Trước</a>
          {% endif %}
  
          {% if posts.number > 3 %}
            <a href="/posts/" class="mx-1 px-3 py-2" rel="nofollow">1</a>
            <span class="mx-1 px-3 py-2">...</span>
          {% endif %}
  
          {% for i in posts.paginator.page_range %}
              {% if i > posts.number|add:"-3" and i < posts.number|add:"3" %}
                  {% if posts.number == i %}
                    <div class="active-link pointer-events-none cursor-text">
                      <a href="/posts/?page={{ i }}" class="mx-1" rel="nofollow">{{ i }}</a>
                    </div>
                  {% else %}
                      <a href="/posts/?page={{ i }}" class="mx-1 px-3 py-2" rel="nofollow">{{ i }}</a>
                  {% endif %}
              {% endif %}
          {% endfor %}
  
            {% if posts.has_next %}
                <a href="/posts/?page={{ posts.paginator.num_pages }}" class="mx-1 px-3 py-2" rel="nofollow">Sau &raquo;</a>
            {% endif %}
        </span>
      </div>
      <!-- SUB SIDEBAR  -->
      <div class="w-72 lg:w-full flex-none border-l lg:border-none border-gray-400 pl-4 lg:pl-0 dark:text-white">
        <div>
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              <a href="{% url 'posts_review' %}" rel="nofollow">Review</a>
            </h6>
          </div>
          <ul class="p-4 list-square">
            <li class="font-[500] hover:underline">
              <a href="{% url 'movies_review' %}" rel="nofollow">Phim Ảnh</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'video_games_review' %}" rel="nofollow">Video Game</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'animes_review' %}" rel="nofollow">Anime</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'mangas_review' %}" rel="nofollow">Manga</a>
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              <a href="{% url 'posts_thought' %}" rel="nofollow">Cảm Nhận</a>
            </h6>
          </div>
          <ul class="p-4 list-square">
            <li class="font-[500] hover:underline">
              <a href="{% url 'movies_thought' %}" rel="nofollow">Phim Ảnh</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'video_games_thought' %}" rel="nofollow">Video Game</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'animes_thought' %}" rel="nofollow">Anime</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'mangas_thought' %}" rel="nofollow">Manga</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'musics_thought' %}" rel="nofollow">Âm Nhạc</a>
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              <a href="{% url 'posts_discuss' %}" rel="nofollow">Bàn Luận</a>
            </h6>
          </div>
          <ul class="p-4 list-square">
            <li class="font-[500] hover:underline">
              <a href="{% url 'movies_discuss' %}" rel="nofollow">Phim Ảnh</a>
            </li>
            <li class="font-[500] hover:underline">
              <a href="{% url 'animes_discuss' %}" rel="nofollow">Anime</a>
            </li>
          </ul>
        </div>
        <div class="mt-5">
          <div class="py-px border-b-2 border-gray-400">
            <h6 class="font-bold">
              Được quan tâm
            </h6>
          </div>
          <div class="flex flex-col gap-y-2 mt-5">
            {% for post in recommend_posts %}
              <div class="flex gap-x-2">
                <div class="w-[100px] lg:w-[150px] sm:w-[120px] h-[80px] md:h-[100px] sm:h-[100px] cursor-pointer flex-shrink-0">
                  <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">
                    <img
                      data-lazy="{{ post.image.url }}"
                      class="w-full h-full object-cover lazy-img"
                      alt="{{ post.title }}"
                    />
                  </a>
                </div>
                <div>
                  <h5 class="cursor-pointer hover:underline text-[16px] m-0 font-playfair font-[600]">
                    <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">{{ post.title }}</a>
                  </h5>
                  <p class="text-sm text-gray-400">{{ post.created_at|date:"d/m/Y" }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
