{% extends "base.html" %} 
{% load static %} 
{% block title %} {{ post.title }} {% endblock %} 
{% block description %} 
  {% if post.description|length > 90 %}
    {{ post.description|slice:":150" }}...
  {% else %}
    {{ post.description }}
  {% endif %}
{% endblock %}
{% block content %}
<div class="post-view">
  <div
    class="bg-cover h-screen lg:h-[60vh] md:h-[40vh] sm:h-[30vh] min-w-[100vw] relative w-full bg-center"
    style="background-image: url('{{ post.image.url }}')"
  >
    <div
      class="absolute h-screen lg:h-[60vh] md:h-[40vh] sm:h-[30vh] w-full bg-no-repeat bg-black/50"
    ></div>
    <div class="absolute top-1/2 left-32 lg:left-8">
      <!-- BREADCUMBS FOR DESKTOP VERSION  -->
      <div class="text-white tracking-widest uppercase text-[10px] font-semibold md:hidden">
        <p class="tracking-[3px]">
          <a href="{% url main_tag.url_name %}" class="hover:border-b-2 border-white transition duration-300">{{ main_tag.name }}</a><span class="text-gray-300 mx-1">/</span><a href="{% url sub_tag.url_name %}" class="hover:border-b-2 border-white transition duration-300">{{ sub_tag.name }}</a>
        </p>
      </div>
      <h1
        class=" text-white font-playfair text-[45px] lg:text-[35px] w-11/12 tracking-[3px] max-w-[800px] leading-[70px] md:hidden"
      >
        <!-- POST TITLE FOR DESKTOP VERSION  -->
        {{ post.title }}
      </h1>
    </div>
  </div>

  <div class="my-10 mx-10">
    <!-- BREADCUMBS FOR MOBILE VERSION  -->
    <div class="text-white tracking-widest uppercase text-[10px] font-semibold hidden md:block mb-5">
      <p class="tracking-[3px]">
        <a href="{% url main_tag.url_name %}" class="hover:border-b-2 border-white transition duration-300">{{ main_tag.name }}</a><span class="text-gray-300 mx-1">/</span><a href="{% url sub_tag.url_name %}" class="hover:border-b-2 border-white transition duration-300">{{ sub_tag.name }}</a>
      </p>
    </div>
    <h1
      class=" dark:text-white font-playfair text-[24px] sm:text-[20px] tracking-[3px] leading-[35px] hidden md:block mb-5"
    >
      <!-- POST TITLE FOR MOBILE VERSION -->
      {{ post.title }}
    </h1>
    <!-- SUB INFORMATION  -->
    <div
      class="w-11/12 max-w-[800px] mx-auto py-5 border-b-2 border-gray-400 mb-5 flex gap-x-10 text-gray-500"
    >
      <p>{{ post.created_at|date:"d/m/Y" }}</p>
      <p>{{ time_read }} phút đọc</p>
    </div>
    <div
      class="max-w-[800px] mx-auto w-11/12 bg-black dark:bg-white text-white dark:text-dark font-helvetica p-4 mb-20 sm:mb-10 tracking-[1px] text-[1.2rem] md:text-[14px] leading-8 md:leading-6"
    >
      <!-- POST DESCRIPTION  -->
      {{ post.description }}
    </div>
    <!-- BODY OF POST  -->
    <div class="post-content">{{ post.content|safe }}</div>

    <!-- RECOMMEND POSTS WITH SAME TAG -->
    <div class="mt-20 mb-5 w-11/12 mx-auto">
      <div class="w-11/12 mx-auto">
        <div class="flex items-center py-4">
          <!-- Your text here -->
          <span
            class="flex-shrink text-[16px] pr-4 font-[900] font-open-sans dark:text-white"
          >
            <a href="{% url main_tag.url_name %}" rel="nofollow"
              >ĐỌC THÊM VỀ {{ main_tag.name|upper }}</a
            >
          </span>

          <!-- The right line -->
          <div class="flex-grow h-[1px] bg-gray-300"></div>
        </div>
      </div>
      <div class="flex gap-x-2 gap-y-2 w-11/12 mx-auto lg:flex-col">
        {% for post in recommend_posts_tag %}
        <div class="flex flex-1 flex-col gap-y-1 gap-x-4 lg:flex-row">
          <div
            class="w-full lg:max-w-[250px] md:w-[200px] sm:w-[120px] h-[200px] lg:h-[150px] sm:h-[80px] border-2 flex-shrink-0"
          >
            <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">
              <img
                data-lazy="{{ post.image.url }}"
                alt="{{ post.title }}"
                class="w-full h-full object-cover object-center lazy-img"
              />
            </a>
          </div>
          <div>
            <h2
              class="cursor-pointer hover:underline font-playfair text-[16px]"
            >
              <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">{{ post.title }}</a>
            </h2>
            <div class="[&>p]:text-[12px]">
              {%for tag in post.tag.all%} {%if 'Review' in tag.name%}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-gray-400 text-sm">
              {{ post.created_at|date:"d/m/Y" }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- RECOMMEND POSTS  -->
    <div class="mt-10 mb-20 w-11/12 mx-auto">
      <div class="w-11/12 mx-auto">
        <div class="flex items-center py-4">
          <!-- Your text here -->
          <span
            class="flex-shrink text-[16px] pr-4 font-[900] font-open-sans dark:text-white"
          >
            <a href="{% url 'posts' %}" rel="nofollow">BÀI VIẾT MỚI</a>
          </span>

          <!-- The right line -->
          <div class="flex-grow h-[1px] bg-gray-300"></div>
        </div>
      </div>
      <div class="flex gap-x-2 gap-y-2 w-11/12 mx-auto lg:flex-col">
        {% for post in recommend_posts %}
        <div class="flex flex-1 flex-col gap-y-1 gap-x-4 lg:flex-row">
          <div
            class="w-full lg:max-w-[250px] md:w-[200px] sm:w-[120px] h-[200px] lg:h-[150px] sm:h-[80px] border-2 flex-shrink-0"
          >
            <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">
              <img
                data-lazy="{{ post.image.url }}"
                alt="{{ post.title }}"
                class="w-full h-full object-cover object-center lazy-img"
              />
            </a>
          </div>
          <div class="flex flex-col gap-y-1">
            <h2
              class="cursor-pointer hover:underline font-playfair text-[16px]"
            >
              <a href="{% url 'post_view' slug=post.slug %}" rel="nofollow">{{ post.title }}</a>
            </h2>
            <div class="[&>p]:text-[12px]">
              {%for tag in post.tag.all%} {%if 'Review' in tag.name%}
              <p class="badge-review flex-shrink-0 inline">Review</p>
              {% elif 'Cảm Nhận' in tag.name %}
              <p class="badge-thoughts flex-shrink-0 inline">Cảm Nhận</p>
              {% elif 'Bàn Luận' in tag.name %}
              <p class="badge-critique flex-shrink-0 inline">Bàn Luận</p>
              {% endif %} {% endfor %}
            </div>
            <p class="text-gray-400 text-sm">
              {{ post.created_at|date:"d/m/Y" }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
