<div class="w-72 flex-none border-l border-gray-400 px-4">
  <div>
    <div class="py-px border-b-2 border-gray-400">
      <h6 class="font-bold">
        <a href="{% url 'posts_review' %}">Review</a>
      </h6>
    </div>
    <ul class="p-4 list-square">
      <li class="font-[500] hover:underline">
        <a href="{% url 'movies_review' %}">Phim Ảnh</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'video_games_review' %}">Video Game</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'animes_review' %}">Anime</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'mangas_review' %}">Manga</a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <div class="py-px border-b-2 border-gray-400">
      <h6 class="font-bold">
        <a href="{% url 'posts_thought' %}">Cảm Nhận</a>
      </h6>
    </div>
    <ul class="p-4 list-square">
      <li class="font-[500] hover:underline">
        <a href="{% url 'movies_thought' %}">Phim Ảnh</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'video_games_thought' %}">Video Game</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'animes_thought' %}">Anime</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'mangas_thought' %}">Manga</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'musics_thought' %}">Âm Nhạc</a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <div class="py-px border-b-2 border-gray-400">
      <h6 class="font-bold">
        <a href="{% url 'posts_discuss' %}">Bàn Luận</a>
      </h6>
    </div>
    <ul class="p-4 list-square">
      <li class="font-[500] hover:underline">
        <a href="{% url 'movies_discuss' %}">Phim Ảnh</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'animes_discuss' %}">Anime</a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <div class="py-px border-b-2 border-gray-400">
      <h6 class="font-bold">
        Được quan tâm
      </h6>
    </div>
    {% block recommend %} {% endblock %}
  </div>
</div>
