<div class="w-72 flex-none border-2 border-blue-800 px-4">
  <div>
    <div class="py-px border-b-2 border-gray-400">
      <h6 class="font-bold">
        <a href="{% url 'posts_review' %}">Review</a>
      </h6>
    </div>
    <ul class="p-4 list-square">
      <li class="font-[500] hover:underline">
        <a href="{% url 'movies' %}">Phim Ảnh</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'video_games' %}">Video Game</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'animes' %}">Anime</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'mangas' %}">Manga</a>
      </li>
      <li class="font-[500] hover:underline">
        <a href="{% url 'musics' %}">Âm Nhạc</a>
      </li>
    </ul>
  </div>
</div>
